<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://java.sun.com/xml/ns/javaee">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
  <link rel="stylesheet" type="text/css"
        th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users</h1>
<table border="1" >

  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>
    <th>Operations</th>
  </tr>


  <tr th:each="user: ${users}">

    <tr1>
      <td th:utext="${user.getName()}"/>
      <td th:utext="${user.getSurname()}"/>
      <td th:utext="${user.getEmail()}"/>
      <br>
      <td>
        <a th:href="@{/edit/{id}(id=${user.id})}">
          <input type="submit" value="Edit">
        </a>
        <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.id})}">
          <input type="submit" value="Delete"/>
        </form>
      </td>

    </tr1>
  </tr>

</table>
<br/>
<input type="button" value="Add new user"
  onclick="window.location.href = '/newUser'"/>
</body>
</html>